*{
	margin:auto;
	padding:auto;
}
.top{
	width:100%;
	background-color:#FF0000 !important;
	border-bottom:2px solid #f0f0f0;
}
.top div{
	width:1200px;
	color:#fff;
	background-color:#FF0000 !important;
	font-family:calibri;
	padding:10px;
	text-align:right;
}

.logo{
	width:100%;
	background-color:;
	border-bottom:2px solid #f0f0f0;
}
.logo div{
	width:1200px;
	background-color:;
	font-family:calibri;
	padding:10px;
	text-align:left;
}
.logo div table a{
	padding:10px;
	text-decoration:none;
	color:gray;
}










